<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head') %>
    <title>Submission Status</title>
</head>
<body>
    <%- include('_header') %>
    <div class="container mt-3">
        <h1>Submission Status</h1>
        <p><%= message %></p>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
    <%- include('_footer') %>
    <%- include('_scripts') %>
</body>
</html>